kind: ConfigMap
apiVersion: v1
metadata:
  name: builder-devspaces-config
  namespace: "{{ platform_devspaces_namespace }}"
  labels:
    app.kubernetes.io/part-of: che.eclipse.org
    app.kubernetes.io/component: workspaces-config
    controller.devfile.io/watch-configmap: "true"
    controller.devfile.io/mount-to-devworkspace: "true"
  annotations:
    controller.devfile.io/mount-as: env
data:
  BUILDER_NAMESPACE: "{{ platform_builder_namespace }}"
  CAIB_SERVER: "https://ado-build-api-{{ platform_builder_namespace }}.apps.{{ cluster_name }}.{{ cluster_sub_domain }}"
  