CLOUD_PROVIDER=aws
CLUSTER_TOPOLOGY=default

CLUSTER_VERSION=4.22.6
#CLUSTER_ARM_NODES=true
#CLUSTER_BAREMETAL_NODES=false
#CLUSTER_VIRT=false

#RHAS_CLUSTER_NAME=rhas
#RHAS_PLATFORM_PREFIX=auto

CLUSTER_BASE_DOMAIN=sandboxXXXX.opentlc.com

PULL_SECRET_FILE=inventory/secrets/pull-secret.txt

AWS_ACCESS_KEY_ID=abc1234567890
AWS_SECRET_ACCESS_KEY=abc1234567890
AWS_REGION=eu-central-1

# GCP_SERVICE_ACCOUNT_KEY_FILE=
# GCP_SERVICE_ACCOUNT_EMAIL=
# GCP_PROJECT_ID=
# GCP_ORGANIZATION_ID=
# GCP_DEFAULT_REGION=

LETSENCRYPT_EMAIL=<your email>
#KEYCLOAK_DB_USER=admin
#KEYCLOAK_DB_PASSWORD=openshift
#KEYCLOAK_CLIENT_SECRET=openshiftkc

#DEFAULT_ADMIN_USER=admin
#DEFAULT_ADMIN_PASSWORD=openshift
#DEFAULT_ADMIN_EMAIL=admin@example.com

#DEFAULT_NOBODY_USER=nobody
#DEFAULT_NOBODY_PASSWORD=noone

#INSTALLER_ARCHITECTURE=mac-arm64

#PLATFORM_DEPLOY_DEVSPACES=true # deploy dev spaces
#PLATFORM_DEPLOY_JUMPSTARTER=true # deploy the jumpstarter operator
#PLATFORM_DEPLOY_BUILDER=true # deploy the builder operator